.backgroud {
    background-color: rgb(255, 255, 255);
}

.logo {
    color: brown;
    text-shadow: 2px 2px 5px red
}

.buttom {
    position: absolute;
    top: 30px;
    right: 16px;
    font-size: 20px;

    .LoginBtm,
    .Register {
        background-color: red;
    }


}

.hero.section {
    display: flex;
    align-items: center;
    gap: 20px;
    img {
        display: block;
        margin-left: auto;
        margin-right: 0;
        width: 60%;
        height: auto
    }
    h2 {
    text-align: right;
    font-size: 25px;
    }
}