body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, rgb(80, 45, 45), rgb(226, 130, 130));
    padding: 5px;
    text-align: center;
}
.logo {
    text-align: left;
    color: brown;
    text-shadow: 2px 2px 5px red
}

.buttom {
    display: flex;
    gap: 10px;
    .LoginBtm,
    .Register {
        background-color: white;
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 5px;
    }


}

.hero.section {

    img {
        background-size: cover;
        max-width: 100%;
        height: auto;
        position: relative;
    }

    h2 {
       
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: rgb(0, 0, 0);
        font-size: 50px;
    }
    p{
        
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: rgb(0, 0, 0);
        font-size: 30px;
    }
}

.feature.section {
    padding: 40px;
}

.movie-list {
    display: flex;
    justify-content: center; 
    gap: 20px;
}

.movie img {
    width: 200px;
    height: 300px; 
    object-fit: cover; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
}


.footer.section {
    background-color: #222;
    padding: 20px;
    text-align: center;
    color: white;
}