.backgroud {
    background-color: rgb(255, 255, 255);
}

.logo {
    color: brown;
    text-shadow: 2px 2px 5px red
}

.buttom {
    position: absolute;
    top: 30px;
    right: 16px;
    font-size: 20px;
    
    .LoginBtm{
    background-color: red;
}
    .Register{
        background-color: red;
   
        }
}

.hero{
    
}